- hosts: localhost
  tasks:
    - name: Start the Vagrant VM
      shell: cd vagrant && vagrant up
      args:
        chdir: "{{ playbook_dir }}"

- hosts: app_servers
  become: yes
  tasks:
    - name: Login to registry
      shell: echo "{{ registry_password }}" | docker login 192.168.220.8:5000 -u "{{ registry_username }}" --password-stdin

    - name: Pull docker image
      shell: docker pull "{{ image }}"

    - name: Remove old container
      shell: docker rm -f app || true

    - name: Run container
      shell: docker run -d --name app -p 8080:8080 "{{ image }}"
