- hosts: server
  become: yes
  vars:
    registry_url: "192.168.220.8:5000"
    registry_username: "{{ registry_username }}"
    registry_password: "{{ registry_password }}"
    image: "{{ image }}"
  tasks:
    - name: Login to Docker registry
      shell: echo "{{ registry_password }}" | docker login {{ registry_url }} -u "{{ registry_username }}" --password-stdin

    - name: Pull docker image
      shell: docker pull "{{ image }}"

    - name: Remove old container
      shell: docker rm -f app || true

    - name: Run container
      shell: docker run -d --name app -p 8080:8080 "{{ image }}"
