- hosts: app_servers
  become: yes
  vars:
    registry_url: "192.168.220.8:5000"
    registry_username: "{{ registry_username }}"
    registry_password: "{{ registry_password }}"
    image: "{{ image }}"

  tasks:
    - name: Login to Docker registry
      shell: echo "{{ registry_password }}" | docker login {{ registry_url }} -u "{{ registry_username }}" --password-stdin

    - name: Ensure app directory exists
      file:
        path: /home/server/docker-backups
        state: directory
        mode: '0755'

    - name: Save current image before update
      shell: docker save  -o /home/server/docker-backups/app_{{ ansible_date_time.iso8601 }}.tar {{ image }}
      ignore_errors: yes
    - name: Check if registry is reachable
      shell: docker login {{ registry_url }} -u {{ registry_username }} -p {{ registry_password }}
      register: login_result
      ignore_errors: yes

    - name: Use local backup if registry is down
      shell: |
        if [ {{ login_result.rc }} -ne 0 ]; then
          echo "Registry unreachable, loading backup image..."
          docker load -i $(ls -t /home/server/docker-backups/*.tar | head -1)
        else
          docker pull "{{ image }}"
        fi


    # Force stop if running
    - name: Force stop container if exists
      shell: docker stop app 

    # Force remove if exists (avoids name conflict)
    - name: Force remove container if exists
      shell: docker rm -f app 

    # Optional but safer
    - name: Prune stopped containers
      shell: docker container prune -f

    - name: Run container
      shell: docker run -d --name app -p 3000:3000 "{{ image }}"
