- hosts: app_servers
  become: yes
  vars:
    backup_dir: /home/server/docker-backups

  tasks:

    - name: Get last backup file
      shell: ls -t {{ backup_dir }}/*.tar | head -1
      register: last_backup
      failed_when: last_backup.stdout == ""
    
    - name: Show last backup file
      debug:
        msg: "Last backup file: {{ last_backup.stdout }}"


    - name: Load backup image
      shell: docker load -i {{ last_backup.stdout }}
      register: loaded_image

    - name: Show loaded image result
      debug:
        msg: "{{ loaded_image.stdout }}"


    - name: Extract image full name
      set_fact:
        backup_image: >-
          {{ loaded_image.stdout_lines
            | select('search', '^Loaded image:')
            | list
            | last
            | regex_replace('Loaded image: ', '')
            | trim }}


    - name: Show extracted image name
      debug:
        var: backup_image

    - name: Stop current container
      shell: docker stop app
      ignore_errors: yes

    - name: Remove current container
      shell: docker rm -f app
      ignore_errors: yes

    - name: Start container using backup image
      shell: docker run -d --name app -p 3000:3000 {{ backup_image }}
