---
- name: Rollback Application
  hosts: app_servers
  become: yes

  tasks:

    - name: Check if previous image exists
      stat:
        path: /var/lib/app/prev_image
      register: prev_image_file

    - name: Read previous image
      shell: cat /var/lib/app/prev_image
      register: rollback_image
      when: prev_image_file.stat.exists


    - name: Stop current container
      shell: docker stop app 

    - name: Rollback to previous image
      shell: >
        docker run -d
        --name app
        -p 3000:3000
        {{ rollback_image.stdout }}
